# Node.js modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environment files


# Build output
dist/
build/

# IDE and OS-specific files
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Test coverage
coverage/

# Dependency directories
jspm_packages/

# TypeScript
*.tsbuildinfo
